$height: 1em;
$width: 2.5em;

@keyframes switchbox-on-transform {
  0% {
    transform: translate(0) scale(1);
  }

  25% {
    transform: translate(0) scale(1.2, .6);
  }

  100% {
    transform: translate(#{$width - $height*1.1}) scale(1);
  }
}

@keyframes switchbox-off-transform {
  0% {
    transform: translate(#{$width - $height*1.1}) scale(1);
  }

  25% {
    transform: translate(#{$width - $height*1.1}) scale(1.2, .6);
  }

  100% {
    transform: translate(0) scale(1);
  }
}


.switchbox {
  position: relative;
  display: inline-block;
  height: auto;
  width: auto;
  background: transparent;
  padding: .5em .5em .5em .5em;
  text-align: center;
  vertical-align: middle;
  @include m('disabled') {
    cursor: no-drop;
    opacity: .65;
    & > .switchbox_label, .switchbox_checkbox {
      cursor: no-drop;
    }
  }
}

.switchbox-searchForm {
  width: 50%;
}

.switchbox-searchForm:nth-child(even) {
  padding-left: .25em;
}

.switchbox-searchForm:nth-child(odd) {
  padding-right: .25em;
}

.switchbox_label {
  display: block;
  padding: .5em 1em 1em 1em;
  text-align: center;
  width: 100%;
  user-select: none;
  cursor: pointer;
}

.switchbox_checkbox {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  height: $height;
  width: $width;
  font-size: 2em;
  border-radius: 1.5em;
  background-color: lighten($blackTheme, 60%);
  border: lighten($blackTheme, 55%) 1px solid;
  background-clip: padding-box;
  color: #BFBEBF;
  vertical-align: middle;
  transition: all 0.25s linear 0.25s;
  cursor: pointer;

  &::before {
    content: " ";
    position: absolute;
    height: $height*1.2;
    width: $height*1.2;
    top: -3px;
    left: -1px;
    bottom: 0;
    right: 50%;
    background-color: $color2;
    border-radius: 100%;
    background-clip: padding-box;
    transform-origin: right center;
    box-shadow: 0 0 1px 1px rgba(50, 50, 50, .3);
    animation: switchbox-off-transform 0.25s ease-out forwards;
    transition: background-color 0.25s linear 0.25s;
  }

  &:focus {
    color: darken(#BFBEBF, 5%);
    border-color: transparent;
    background-color: darken(#BFBEBF,5%);
    outline: none;
  }

  &:checked {
    color: darken(#BFBEBF, 5%);
    background-color: $color2;
    border-color: transparent;

    &::before {
      transform-origin: left center;
      background-color: $color2;
      animation: switchbox-on-transform 0.25s ease-out forwards;
    }
  }

}
